/* General Styles */
.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scale-up-center 0.4s;
}

.text {
    display: flex;
    flex-direction: column;
}

.Msg {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: -75px;
}

.About {
    font-size: 40px;
    font-weight: 900;
    margin-top: -35px;
}

.greeting {
    font-size: 40px;
    font-weight: 900;
}

.animation {
    animation: subirBajar 7s ease-in-out infinite;
    /* Animación de 2 segundos, con un ciclo infinito */
}

.dark .Msg {
    color: #fff;
}

.dark .About {
    color: #fff;
}

.dark .greeting {
    color: #fff;
}

.light .Msg {
    color: #333;
}

.light .About {
    color: #333;
}

.light .greeting {
    color: #333;
}

@keyframes subirBajar {
    0% {
        transform: translateY(0);
        /* Posición inicial */
    }

    50% {
        transform: translateY(-20px);
        /* Subir */
    }

    100% {
        transform: translateY(0);
        /* Bajar */
    }
}



.scale-up-center {
    animation: scale-up-center 0.4s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

/* Media Query para pantallas pequeñas (dispositivos entre 400px y 768px de ancho) */
@media only screen and (max-width: 430px) and (min-height: 932px) {
    .presentation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: row;
    }

    .Msg {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: -30px;
    }

    .About {
        font-size: 16px;
        margin-top: -15px;
    }

    .about-description {
        font-size: 10px;
    }

    .greeting {
        font-size: 16px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 80px;
    }

    .h, .m, .p, .vp, .g {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    .presentation {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: -40px;
    }

    .About {
        font-size: 28px;
        margin-top: -15px;
    }

    .about-description {
        font-size: 15px;
    }

    .greeting {
        font-size: 28px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 80px;
        display: none;
    }

    .h, .m, .p, .vp, .g {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 513px) {
    .presentation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: -30px;
    }

    .About {
        font-size: 16px;
        margin-top: -15px;
    }

    .about-description {
        font-size: 10px;
    }

    .greeting {
        font-size: 16px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 80px;
    }

    .h, .m, .p, .vp, .g {
        display: none;
    }
}

@media only screen and (min-width: 514px) and (max-width: 767px) {
    .presentation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 15px;
        font-weight: 900;
        margin-bottom: -30px;
    }

    .About {
        font-size: 16px;
        margin-top: -15px;
    }

    .about-description {
        font-size: 10px;
    }

    .greeting {
        font-size: 16px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 80px;
    }
    .h, .m, .vp, .g,.p {
        display: none;
    }
}

/* Media Query para pantallas medianas (tablets entre 768px y 1024px de ancho) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .presentation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: -50px;
    }

    .About {
        font-size: 25px;
        margin-top: -30px;
    }

    .about-description {
        font-size: 15px;
    }

    .greeting {
        font-size: 25px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 80px;
    }

    .h, .m, .vp, .s, .g {
        display: none;
    }
}

/* Media Query para pantallas grandes (laptops o dispositivos entre 1025px y 1365px de ancho) */
@media only screen and (min-width: 1025px) and (max-width: 1365px) {
    .presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: scale-up-center 0.4s;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: -70px;
    }

    .About {
        font-size: 45px;
        margin-top: -35px;
    }

    .greeting {
        font-size: 45px;
        font-weight: 900;
    }

    .about-description {
        font-size: 18px;
    }

    .h, .m, .p, .vp, .s {
        display: none;
    }
}

/* Media Query para pantallas de 13 pulgadas (1366px de ancho, típicamente laptops de 13") */
@media only screen and (min-width: 1366px) and (max-width: 1600px) {
    .presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: scale-up-center 0.4s;
    }

    .text {
        display: flex;
        flex-direction: column;
    }

    .Msg {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: -75px;
    }

    .About {
        font-size: 45px;
        margin-top: -35px;
    }

    .greeting {
        font-size: 50px;
        font-weight: 900;
    }

    .about-description {
        font-size: 20px;
    }

    .p, .m, .vp, .s, .g {
        display: none;
    }
}

/* Media Query para pantallas Full HD (1920px de ancho, típicamente pantallas grandes o laptops de gama alta) */
@media only screen and (min-width: 1600px) {
    .presentation {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-top: -95px;
    }

    .Msg {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: -95px;
    }

    .About {
        font-size: 70px;
        font-weight: 900;
        margin-top: -45px;
    }

    .about-description {
        font-size: 25px;
    }

    .greeting {
        font-size: 70px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 500px;
    }

    .p, .m, .vp, .s, .g {
        display: none;
    }
}

/* Media Query para pantallas más grandes (por ejemplo, pantallas externas, monitores grandes) */
@media only screen and (min-width: 2560px) {
    body {
        padding: 5rem;
        /* Ajusta el padding para pantallas más grandes */
    }

    .presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10%;
        max-width: 90%;
    }

    .text {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        padding: 0 3rem;
    }

    .Msg {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: -50px;
    }

    .About {
        font-size: 75px;
        margin-top: -35px;
    }

    .about-description {
        font-size: 30px;
    }

    .greeting {
        font-size: 75px;
        font-weight: 900;
    }

    .animation {
        margin-top: 30px;
        font-size: 600px;
    }

    .p, .m, .vp, .s, .g {
        display: none;
    }

    /* Ajustar el contenido para que se vea bien en pantallas ultra grandes */
    .presentation {
        max-width: 80%; /* Limitar el ancho */
        margin-left: 10%;
    }

    .about-description {
        font-size: 35px;
    }
}
