.contactame-botones.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 70px;
    padding: 0;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;   
    gap: 30px;
    animation: botonesIn 1s ease-in-out forwards;

}

.contactame-botones.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 70px;
    padding: 0;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;   
    gap: 30px;
    animation: botonesIn 1s ease-in-out forwards;


}

.hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 20vh;
    width: 1px;
}

.icon.light {
    display: flex;
    color: rgba(38, 38, 38, 0.507);;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;    
    border-radius: 80px;
    transition: transform 0.5s; /* Transición para el cambio de tamaño */

}

.icon.light:hover {
    color: #0f0f0f;
    transform: scale(1.2); /* Aumenta el tamaño del icono al hacer hover */
}

.icon.dark {
    color: #cacaca;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;    
    border-radius: 80px;
    transition: transform 0.5s; /* Transición para el cambio de tamaño */

}

.icon.dark:hover {
    color: #74747481;
    transform: scale(1.2); /* Aumenta el tamaño del icono al hacer hover */
}

@keyframes botonesIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@media screen and (max-width: 667px) {

}